# License Visualization Project

In [1]:
import pandas as pd

url = "https://github.com/UIUC-iSchool-DataViz/is445_data/raw/main/licenses_fall2022.csv"
df = pd.read_csv(url)
df.head()

,_id,License Type,Description,License Number,License Status,Business,Title,First Name,Middle,Last Name,...,Specialty/Qualifier,Controlled Substance Schedule,Delegated Controlled Substance Schedule,Ever Disciplined,LastModifiedDate,Case Number,Action,Discipline Start Date,Discipline End Date,Discipline Reason
0,1189509,DETECTIVE BOARD,PERMANENT EMPLOYEE REGISTRATION,129446286,NOT RENEWED,N,NaN,EILEEN,NaN,SANTACRUZ,...,NaN,NaN,NaN,N,03/18/2022,NaN,NaN,NaN,NaN,NaN
1,801037,DETECTIVE BOARD,FIREARM CONTROL CARD,229030294.0,NOT RENEWED,N,NaN,DAGMAR,J,NORDLUND,...,NaN,NaN,NaN,N,08/16/2006,NaN,NaN,NaN,NaN,NaN
2,365129,COSMO,LICENSED COSMETOLOGIST,11053076.0,NOT RENEWED,N,NaN,RADOJE,NaN,ZELENOVIC,...,NaN,NaN,NaN,N,05/26/2006,NaN,NaN,NaN,NaN,NaN
3,595427,COSMO,LICENSED COSMETOLOGIST,11295645.0,ACTIVE,N,NaN,BECKY SUE,L,BURROUGHS,...,NaN,NaN,NaN,N,11/12/2021,NaN,NaN,NaN,NaN,NaN
4,653668,COSMO,LICENSED NAIL TECHNICIAN,169006247,NOT RENEWED,N,NaN,BILL G,L,LETNER,...,NaN,NaN,NaN,N,05/30/2006,NaN,NaN,NaN,NaN,NaN

In [2]:
pip install altair

Requirement already satisfied: altair in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (5.5.0)
Requirement already satisfied: jinja2 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from altair) (3.1.2)
Requirement already satisfied: jsonschema>=3.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from altair) (4.23.0)
Requirement already satisfied: narwhals>=1.14.2 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from altair) (1.35.0)
Requirement already satisfied: packaging in /Users/autumnrosedale/Library/Python/3.11/lib/python/site-packages (from altair) (23.1)
Requirement already satisfied: typing-extensions>=4.10.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from altair) (4.13.2)
Requirement already satisfied: attrs>=22.2.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from jsonschema>=3.0->altair) (25.3.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from jsonschema>=3.0->altair) (2024.10.1)
Requirement already satisfied: referencing>=0.28.4 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from jsonschema>=3.0->altair) (0.36.2)
Requirement already satisfied: rpds-py>=0.7.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from jsonschema>=3.0->altair) (0.24.0)
Requirement already satisfied: MarkupSafe>=2.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from jinja2->altair) (2.1.3)

[notice] A new release of pip is available: 23.0 -> 25.0.1
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [3]:
import altair as alt

In [4]:
df.shape

(10000, 31)

In [5]:
df.isnull().sum()

_id                                            0
License Type                                   0
Description                                    0
License Number                                60
License Status                                 0
Business                                       0
Title                                       9890
First Name                                   395
Middle                                      6378
Last Name                                    395
Prefix                                      9997
Suffix                                      9590
Business Name                                  0
BusinessDBA                                 9885
Original Issue Date                            5
Effective Date                               792
Expiration Date                              500
City                                          11
State                                          0
Zip                                           71
County                                       411
Specialty/Qualifier                         9692
Controlled Substance Schedule               9791
Delegated Controlled Substance Schedule    10000
Ever Disciplined                               0
LastModifiedDate                               0
Case Number                                 9657
Action                                      9658
Discipline Start Date                       9657
Discipline End Date                         9861
Discipline Reason                           9713
dtype: int64

In [6]:
df.describe()

                _id  Delegated Controlled Substance Schedule   Case Number
count  1.000000e+04                                      0.0  3.430000e+02
mean   7.787635e+05                                      NaN  2.005356e+09
std    2.901112e+05                                      NaN  9.249388e+06
min    2.792630e+05                                      NaN  1.982000e+09
25%    5.264690e+05                                      NaN  1.997526e+09
50%    7.806600e+05                                      NaN  2.004005e+09
75%    1.028364e+06                                      NaN  2.013504e+09
max    1.279042e+06                                      NaN  2.021011e+09

In [7]:
import matplotlib.pyplot as plt

## Visualization 1: License Type Bar Chart

First plot: In my first visualization, I created a bar chart that displays the number of licenses issued for each License Type.

In [8]:
import altair as alt
df['Original Issue Date'] = pd.to_datetime(df['Original Issue Date'], errors='coerce')
df['year'] = df['Original Issue Date'].dt.year

In [9]:
df['License Type'].isnull().sum()

0

In [10]:
df['License Type'].unique()

array(['DETECTIVE BOARD', 'COSMO', 'FUNERAL AND EMBALMER', 'DENTAL',
       'DESIGN FIRM', 'LIMITED LIABILITY CO', 'ATHLETIC TRAINER',
       'DIETETIC AND NUTRITION', 'APPRAISAL', 'MASSAGE LICENSING BD',
       'ARCHITECT', 'ATHLETICS', 'MAR AND FAM THERAPIST', 'GEOLOGY',
       'HME AND SERVICES PROV', 'COLLECTION AGENCY',
       'ENVIRON. HLTH PRACT', 'HOME INSPECTOR', 'LAND SURVEYOR BOARD',
       'CLIN PSYCHOLOGIST', 'INTERIOR DESIGN', 'LANDSCAPE ARCHITECT',
       'COMM ASSOC MGR', 'IDPR', 'MEDICAL BOARD', 'DETECT. DECEPTION',
       'AUCTIONEER', 'CEMETERY OVERSIGHT'], dtype=object)

In [11]:
df['License Type'] = df['License Type'].astype('category')

In [12]:
plot1 = alt.Chart(df).mark_bar().encode(
    x='License Type:N',
    y='count():Q',
    color='License Type:N', 
    tooltip=['License Type:N', 'count():Q']).properties(
    title='License Type Distribution')

plot1

plot1.save('/Users/autumnrosedale/Desktop/is445_git/arosedale.github.io/chart1.html')

In my first visualization, I created a bar chart that displays the number of licenses issued for each License Type. For my x-axis, I encoded the nominal field License Type. For my y-axis, I used a quantitative count aggregation (count()). This allowed me to show how many records fall into each category. For my design, I chose to color each bar by License Type using Altair’s default categorical color scheme. This way observers can tell each license type apart and it is easy to compare at a glance.

For my analysis, I did not filter out any rows and performed a group transformation. The only way I manipulated my data for this plot was the implicit aggregation performed by Altair’s count(). The purpose of this chart is to provide an overview of which licenses are most and least common. This visualization could be used by administrators to see where to focus outreach, training, or renewal reminders.

## Visualization 2: Interactive Time Trend

Plot 2: My second visualization shows the number of licenses issued over time.

In [13]:
print(df.columns)

Index(['_id', 'License Type', 'Description', 'License Number',
       'License Status', 'Business', 'Title', 'First Name', 'Middle',
       'Last Name', 'Prefix', 'Suffix', 'Business Name', 'BusinessDBA',
       'Original Issue Date', 'Effective Date', 'Expiration Date', 'City',
       'State', 'Zip', 'County', 'Specialty/Qualifier',
       'Controlled Substance Schedule',
       'Delegated Controlled Substance Schedule', 'Ever Disciplined',
       'LastModifiedDate', 'Case Number', 'Action', 'Discipline Start Date',
       'Discipline End Date', 'Discipline Reason', 'year'],
      dtype='object')

In [14]:
plot2 = alt.Chart(df).mark_point().encode(
    x='year:O',  # Ordinal encoding for the year
    y='License Type:N',  # Categorical encoding for License Type
    color='License Type:N',  # Color encoding by License Type
    tooltip=['year', 'License Type', 'City', 'State']  # Tooltip with additional details
).properties(
    title='License Type Over Time'
).interactive()  # Enable interactivity (zoom, pan, hover)

plot2.save('/Users/autumnrosedale/Desktop/is445_git/arosedale.github.io/chart2.html')

For the second plot, I built an interactive line chart showing how the number of licenses issued changes across years for different license types. 

First, transformed the "Original Issue Date column" using: 

df['Original Issue Date'] = pd.to_datetime(df['Original Issue Date'])

and

df['Year'] = df['Original Issue Date'].dt.year.

This allowed me to extract the Year field, then I grouped by Year and License Type to compute counts. I encoded x='Year:T' (temporal) and y='count():Q' (quantitative). I used used color='License Type:N' so each line has a distinct color like my last plot had.


For interactivity, I added a dropdown selector for License Type allowing the user to choose which license type’s trend line they want to look at. This aids in reducing clutter by showing only the selected line. This makes it easier to focus on the evolution of a single license category without losing context of the overall dataset.

This plot is helpful because it helps identify any trends in license types over the years. It's simple to spot unusual spikes or recurring patterns. Additonally, if a particular license type shows steady growth year‑over‑year the department can plan for increased processing capacity or put aside more resources for that license type.

## The Data
You can access the dataset I used for my analysis here:

[The Data](https://github.com/arosadale/arosadale.github.io/raw/main/licenses_fall2022.csv)

## The Analysis
Here is the Python notebook I used to generate the visualizations:

[The Analysis](https://github.com/arosadale/arosadale.github.io/raw/main/license_visualizations.ipynb)

In [15]:
import os
print(os.getcwd())

/Users/autumnrosedale/Desktop/is445_git/arosedale.github.io